<div class="bg">
  <div class="box">
    <div class="rect">
    </div>
    <div class="top-rect">
    </div>
    <div class="mid-rect">
    </div>
    <div class="low-rect">
    </div>
    <div class='inner-circle'>
    </div>
  </div>
</div>
<style>
  .bg {
    width: 100%;
    height: 100%;
    background: #1A4341;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
  }
  
  .box { 
    position: absolute;
    width: 250px;
    height: 250px;
    display: grid;
    place-items: center;
    border-radius: 100%;
    overflow: hidden;
    z-index: 100;
  }
  
  .rect { 
    position: absolute;
   	width: 250px;
    height: 140px;
    background: #1A4341;
  }
  
  .mid-rect { 
    position: absolute;
   	top: 115px;
    width: 250px;
    height: 20px;
    background: #F3AC3C;
  }

  .top-rect { 
    position: absolute;
    top: 75px;
    width: 250px;
    height: 20px;
    background: #F3AC3C;
  }

 .low-rect { 
    position: absolute;
    top: 155px;
    width: 250px;
    height: 20px;
    background: #F3AC3C;
  }

  
  .outer-circle { 
    background: #F3AC3C;
    width: 250px;
    height: 250px;
    border-radius: 100%;
    display: grid;
    place-items: center;
  }
  
  .inner-circle { 
    background: #998235;
    width: 200px;
    height: 200px;
    border-radius: 100%;
  }
  

  * { 
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
  }
  
</style>
